In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

Data from 1970-1971 to 2017-2018

In [61]:
df_original = pd.read_csv('FMEL_Dataset.csv')

In [62]:
df_original.head()

,id,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,1,1970-71,1,1,Atletico de Bilbao,Barcelona,1,1,12/09/1970,21938400
1,2,1970-71,1,1,Las Palmas,Atletico de Madrid,1,1,12/09/1970,21938400
2,3,1970-71,1,1,Real Madrid,Valencia,2,0,12/09/1970,21938400
3,4,1970-71,1,1,Celta de Vigo,Sporting de Gijon,2,0,13/09/1970,22024800
4,5,1970-71,1,1,Elche,Granada,1,1,13/09/1970,22024800

In [63]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37147 entries, 0 to 37146
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            37147 non-null  int64
 1   season        37147 non-null  object
 2   division      37147 non-null  int64
 3   round         37147 non-null  int64
 4   localTeam     37147 non-null  object
 5   visitorTeam   37147 non-null  object
 6   localGoals    37147 non-null  int64
 7   visitorGoals  37147 non-null  int64
 8   date          37147 non-null  object
 9   timestamp     37147 non-null  int64
dtypes: int64(6), object(4)
memory usage: 2.8+ MB

In [64]:
df_original.describe()

,id,division,round,localGoals,visitorGoals,timestamp
count,37147.000000,37147.000000,37147.000000,37147.000000,37147.000000,3.714700e+04
mean,18574.000000,1.537809,19.862896,1.515385,0.936953,8.116889e+08
std,10723.559561,0.498575,11.282774,1.262742,1.010263,4.322134e+08
min,1.000000,1.000000,1.000000,0.000000,0.000000,2.133360e+07
25%,9287.500000,1.000000,10.000000,1.000000,0.000000,4.453884e+08
50%,18574.000000,2.000000,20.000000,1.000000,1.000000,8.317656e+08
75%,27860.500000,2.000000,29.000000,2.000000,1.000000,1.181426e+09
max,37147.000000,2.000000,44.000000,10.000000,8.000000,1.527890e+09

In [65]:
print(df_original['division'].unique())
print(df_original['round'].unique())
print(df_original['localGoals'].unique())
print(df_original['visitorGoals'].unique())

[1 2]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44]
[ 1  2  0  5  3  4  6  7  9  8 10]
[1 0 2 5 3 4 6 7 8]

 We make sure that all values make sense. (we know that laliga has 38 rounds and the second league has 42 rounds) The 86-87 season had 44 rounds, then we will value to discard it.
Before separating into two datasets, we will create the result column that will save whether the local team has won, tied or lost

In [66]:
#result = 0 si el local ha perdut, 1 si ha empatat i 2 si ha guanyat.
df_original['result'] = 0
df_original.loc[df_original['localGoals'] > df_original['visitorGoals'], 'result'] = 2
df_original.loc[df_original['localGoals'] == df_original['visitorGoals'], 'result'] = 1

df_original.head()

,id,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp,result
0,1,1970-71,1,1,Atletico de Bilbao,Barcelona,1,1,12/09/1970,21938400,1
1,2,1970-71,1,1,Las Palmas,Atletico de Madrid,1,1,12/09/1970,21938400,1
2,3,1970-71,1,1,Real Madrid,Valencia,2,0,12/09/1970,21938400,2
3,4,1970-71,1,1,Celta de Vigo,Sporting de Gijon,2,0,13/09/1970,22024800,2
4,5,1970-71,1,1,Elche,Granada,1,1,13/09/1970,22024800,1

In [67]:
df_laliga = df_original[df_original['division'] == 1]
df_liga2 = df_original[df_original['division'] == 2]

In [68]:
df_laliga.describe()

,id,division,round,localGoals,visitorGoals,timestamp,result
count,17169.000000,17169.0,17169.000000,17169.000000,17169.000000,1.716900e+04,17169.000000
mean,18365.798183,1.0,19.085794,1.594851,0.991496,8.123484e+08,1.292679
std,10535.094660,0.0,10.822927,1.315497,1.056554,4.250611e+08,0.810013
min,1.000000,1.0,1.000000,0.000000,0.000000,2.193840e+07,0.000000
25%,9613.000000,1.0,10.000000,1.000000,0.000000,4.681116e+08,1.000000
50%,18101.000000,1.0,19.000000,1.000000,1.000000,8.263260e+08,2.000000
75%,27311.000000,1.0,28.000000,2.000000,2.000000,1.174172e+09,2.000000
max,36685.000000,1.0,44.000000,10.000000,8.000000,1.526767e+09,2.000000

In [69]:
df_laliga.groupby('season')['round'].max().sort_values(ascending=False)


max_rounds = df_laliga.groupby('season')['round'].max()
max_rounds = max_rounds[max_rounds == 38]
#We save the list of seasons that have 38 rounds
list_seasons = max_rounds.index.tolist()
list_seasons #
df_laliga = df_laliga[df_laliga['season'].isin(list_seasons)]

In [70]:
df_laliga.describe()

,id,division,round,localGoals,visitorGoals,timestamp,result
count,11020.000000,11020.0,11020.000000,11020.000000,11020.000000,1.102000e+04,11020.000000
mean,24344.741379,1.0,19.500000,1.554537,1.065517,1.056852e+09,1.232759
std,7497.605934,0.0,10.966354,1.317961,1.095109,2.862763e+08,0.829069
min,11702.000000,1.0,1.000000,0.000000,0.000000,5.571864e+08,0.000000
25%,17116.750000,1.0,10.000000,1.000000,0.000000,7.840764e+08,0.000000
50%,24707.500000,1.0,19.500000,1.000000,1.000000,1.074035e+09,1.000000
75%,30696.250000,1.0,29.000000,2.000000,2.000000,1.300576e+09,2.000000
max,36685.000000,1.0,38.000000,10.000000,8.000000,1.526767e+09,2.000000


We will create a column of points local in Season (T1PliS) and points visitor in Season (T1PviS) for the local and visitor team.
Each team and season will have a column with the points they have achieved until that round.
It will be normalized (respecting the maximum possible points until that round)

In [72]:
from tqdm import tqdm

for season in tqdm(list_seasons):
    df_laliga.loc[(df_laliga['season'] == season), 'T1PliS'] = 0
    df_laliga.loc[(df_laliga['season'] == season), 'T1PviS'] = 0
    df_laliga.loc[(df_laliga['season'] == season), 'T2PliS'] = 0 #T1 és el local i T2 el visitant
    df_laliga.loc[(df_laliga['season'] == season), 'T2PviS'] = 0
    df_laliga.loc[(df_laliga['season'] == season), 'total_punts_loc'] = 0
    df_laliga.loc[(df_laliga['season'] == season), 'total_punts_vis'] = 0
    #fem llista d'equips d'aquella season:
    ll_equips = df_laliga.loc[(df_laliga['season'] == season), 'localTeam'].unique().tolist()
    #print(ll_equips)
    
    
    for equip in ll_equips:
        counter_points_local = 0
        counter_points_visitor = 0
        counter_partits_local = 1 #evitem error partit 0
        counter_partits_visitor = 1
        entrada_local = False
        entrada_visitor = False
        total_counter_points = 0
        for round in range(1,39):
            #comptem els punts d'aquella ronda de l'equip que estem iterant i els sumem a PliS si és local i a PviS si és visitant
            result_aux = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & 
                                       ((df_laliga['localTeam'] == equip) | (df_laliga['visitorTeam']== equip)), 'result'].iloc[0]
            #result_aux és el resultat de l'equip local
            #calculem si l'equip és local o visitant
            eslocal = len(df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & 
                                       (df_laliga['localTeam'] == equip)])
            #eslocal --> 1 si és local, 0 si és visitant
            if eslocal > 1: 
                raise Exception('Error: hi ha més d\'un partit de l\'equip com a local en una mateixa jornada')
            elif eslocal == 1:
                #desem els punts a PliS abans d'actualitzar el counter_points:
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & 
                                       (df_laliga['localTeam'] == equip), 'T1PliS'] = counter_points_local/(3*counter_partits_local)
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) &
                                        (df_laliga['localTeam'] == equip), 'T1PviS'] = counter_points_visitor/(3*counter_partits_visitor) #no incrementem el counter
                
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) &
                              (df_laliga['localTeam']== equip), 'total_punts_loc'] = total_counter_points
                if result_aux == 2:
                    counter_points_local = counter_points_local + 3
                    total_counter_points = total_counter_points + 3

                elif result_aux == 1:
                    counter_points_local = counter_points_local + 1
                    total_counter_points = total_counter_points + 1

                
                if entrada_local == True: #evitem error partit 0
                    counter_partits_local = counter_partits_local + 1
                entrada_local = True
                
                
            elif eslocal == 0:
                #desem els punts a PviS abans d'actualitzar el counter:
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & 
                                       (df_laliga['visitorTeam'] == equip), 'T2PviS'] = counter_points_visitor/(3*counter_partits_visitor)
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) &
                                        (df_laliga['visitorTeam'] == equip), 'T2PliS'] = counter_points_local/(3*counter_partits_local) #no incrementem el counter
                
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) &
                              (df_laliga['visitorTeam']== equip), 'total_punts_vis'] = total_counter_points
                if result_aux == 1:
                    counter_points_visitor = counter_points_visitor + 1
                    total_counter_points = total_counter_points + 1

                elif result_aux == 0: #el local ha perdut --> visitant ha guanyat
                    counter_points_visitor = counter_points_visitor + 3
                    total_counter_points = total_counter_points + 3

                if entrada_visitor == True: #evitem error partit 0
                    counter_partits_visitor = counter_partits_visitor + 1
                entrada_visitor = True

100%|██████████| 29/29 [10:34<00:00, 21.88s/it]

In [73]:
#We create a new variable that is the month of the season in which the match is played. 1 will be August and 12 will be July.
#For this, we take the date of the match and subtract 7 months from it.

df_laliga['month'] = df_laliga['date'].str[3:5]
df_laliga['month'] = df_laliga['month'].astype(int)
if df_laliga['month'].max() > 12:
    raise Exception('Error: hi ha algun mes que és més gran que 12')
if df_laliga['month'].min() < 1:
    raise Exception('Error: hi ha algun mes que és més petit que 1')



df_laliga['month'] = df_laliga['month'] - 7
df_laliga.loc[df_laliga['month'] < 1, 'month'] = df_laliga['month'] + 12

We are also interested in creating a column with the day of the week, since perhaps certain teams perform better on one day than another.

In [74]:
df_laliga['date'] = pd.to_datetime(df_laliga['date'])
df_laliga['day_of_week'] = df_laliga['date'].dt.dayofweek + 1

C:\Users\genis\AppData\Local\Temp\ipykernel_13852\2162907432.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_laliga['date'] = pd.to_datetime(df_laliga['date'])

We see that we can also transform the timestamp column to a datetime type column, in this way we could obtain the time of the match.

In [75]:
from datetime import datetime

df_laliga['time'] = df_laliga['timestamp'].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))

df_laliga['time'] = df_laliga['time'].str[11:16]

df_laliga['time'].unique()

array(['22:00', '23:00'], dtype=object)

We see that there is an error in the timestamp, since it only has the hours corresponding to 22:00 and 23:00. Therefore we eliminate them:

In [76]:
df_laliga.drop(['timestamp','time'], axis=1, inplace=True)

 We can also create new columns that indicate the accumulated goals of the local and visiting team until that match.
We will call it "GoalsliS" and "GoalsviS" respectively. (Goals local in Season and Goals visitor in Season)

In [77]:
for season in tqdm(list_seasons):
    df_laliga.loc[(df_laliga['season'] == season), 'GoalsliS'] = 0
    df_laliga.loc[(df_laliga['season'] == season), 'GoalsviS'] = 0
    #fem llista d'equips d'aquella season:
    ll_equips = df_laliga.loc[(df_laliga['season'] == season), 'localTeam'].unique().tolist()
    #print(ll_equips)
    
    for equip in ll_equips:
        counter_goals = 0
        for round in range(1,39):
            #calculem si l'equip és local o visitant
            eslocal = len(df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & 
                                       (df_laliga['localTeam'] == equip)])
            #eslocal --> 1 si és local, 0 si és visitant
                        
            if eslocal > 1: 
                raise Exception('Error: hi ha més d\'un partit de l\'equip com a local en una mateixa jornada')
            elif eslocal == 1:
                
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & 
                                       (df_laliga['localTeam'] == equip), 'GoalsliS'] = counter_goals
                
                #comptem els gols d'aquella ronda de l'equip que estem iterant i els sumem a GoalsliS si és local i a GoalsviS si és visitant
                goals_aux = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & 
                                       ((df_laliga['localTeam'] == equip)), 'localGoals'].iloc[0]
                
                counter_goals = counter_goals + goals_aux
                
            elif eslocal == 0:
                #desem els punts a PviS abans d'actualitzar el counter:
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & 
                                       (df_laliga['visitorTeam'] == equip), 'GoalsviS'] = counter_goals
                
                goals_aux = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & 
                                       ((df_laliga['visitorTeam'] == equip)), 'visitorGoals'].iloc[0]
                counter_goals = counter_goals + goals_aux
                
#Funciona perfectament. Triga 2 minuts.

  0%|          | 0/29 [00:00<?, ?it/s]

100%|██████████| 29/29 [06:17<00:00, 13.02s/it]

Finally, we will create a column that tells us the total accumulated points in the last 3 games. In the case that there are no 3 previous games, the missing games will be counted as lost (0 points)

In [78]:
for season in tqdm(list_seasons):
    df_laliga.loc[(df_laliga['season'] == season), 'local_3streak'] = 0
    df_laliga.loc[(df_laliga['season'] == season), 'visitor_3streak'] = 0

    ll_equips = df_laliga.loc[(df_laliga['season'] == season), 'localTeam'].unique().tolist()
    
    for equip in ll_equips:
        
        #the vector league points will have 41 positions initialized to 0
        league_points = np.zeros(41)
        
        #We go to round 4 and save the points of rounds 1, 2 and 3 in league_points.
        for round in range(3,41): #iterem per les 3 inicialitzacions de league_points + les 38 jornades
            result_aux = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round - 2) & 
                                       ((df_laliga['localTeam'] == equip) | (df_laliga['visitorTeam']== equip)), 'result'].iloc[0]
            
            eslocal = len(df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round - 2) & 
                                       (df_laliga['localTeam'] == equip)])
            if result_aux == 0 and eslocal == 1 or result_aux == 2 and eslocal == 0:
                league_points[round] = 0
            elif result_aux == 1:
                league_points[round] = 1
            elif result_aux == 2 and eslocal == 1 or result_aux == 0 and eslocal == 0:
                league_points[round] = 3
            
            if eslocal == 1: #if it's local, we save the points of the 3 previous rounds in local_3streak
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round - 2) & 
                                       (df_laliga['localTeam'] == equip), 'local_3streak'] = league_points[round - 3] + league_points[round - 2] + league_points[round - 1]
            elif eslocal == 0:
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round - 2) & 
                                       (df_laliga['visitorTeam'] == equip), 'visitor_3streak'] = league_points[round - 3] + league_points[round - 2] + league_points[round - 1]
            
#We assume the error of those reprogrammed matches.(few matches)

  0%|          | 0/29 [00:00<?, ?it/s]

100%|██████████| 29/29 [07:11<00:00, 14.87s/it]

In [79]:
df_laliga.tail()

,id,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,result,...,T2PliS,T2PviS,total_punts_loc,total_punts_vis,month,day_of_week,GoalsliS,GoalsviS,local_3streak,visitor_3streak
36680,36681,2017-18,1,38,Villarreal,Real Madrid,2,2,2018-05-19,1,...,0.701754,0.648148,60.0,75.0,10,6,55.0,92.0,9.0,7.0
36681,36682,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,2018-05-20,0,...,0.526316,0.296296,43.0,46.0,10,7,41.0,35.0,3.0,7.0
36682,36683,2017-18,1,38,Barcelona,Real Sociedad,1,0,2018-05-20,2,...,0.578947,0.296296,90.0,49.0,10,7,98.0,66.0,4.0,6.0
36683,36684,2017-18,1,38,Valencia,Deportivo,2,1,2018-05-20,2,...,0.315789,0.203704,70.0,29.0,10,7,63.0,37.0,4.0,1.0
36684,36685,2017-18,1,38,Atletico de Madrid,Eibar,2,2,2018-05-20,1,...,0.491228,0.407407,78.0,50.0,10,7,56.0,42.0,6.0,7.0

In [80]:
#Let's compute now two new variables: local_5streak and visitor_5streak. They will be the sum of the points of the last 5 rounds.
#SAME CODE AS BEFORE BUT WITH 5 INSTEAD OF 3
for season in tqdm(list_seasons):
    df_laliga.loc[(df_laliga['season'] == season), 'local_5streak'] = 0
    df_laliga.loc[(df_laliga['season'] == season), 'visitor_5streak'] = 0

    ll_equips = df_laliga.loc[(df_laliga['season'] == season), 'localTeam'].unique().tolist()
    
    for equip in ll_equips:

        league_points = np.zeros(43)
        
        
        for round in range(5,43): # we iterate for the 5 initializations of league_points + the 38 rounds
            result_aux = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round - 4) & 
                                       ((df_laliga['localTeam'] == equip) | (df_laliga['visitorTeam']== equip)), 'result'].iloc[0]
            
            eslocal = len(df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round - 4) & 
                                       (df_laliga['localTeam'] == equip)])
            
            if result_aux == 0 and eslocal == 1 or result_aux == 2 and eslocal == 0:
                league_points[round] = 0
            elif result_aux == 1:
                league_points[round] = 1
            elif result_aux == 2 and eslocal == 1 or result_aux == 0 and eslocal == 0:
                league_points[round] = 3
            
            if eslocal == 1: # if it's local, we save the points of the 3 previous rounds in local_3streak
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round - 4) & 
                                       (df_laliga['localTeam'] == equip), 'local_5streak'] = league_points[round - 5] + league_points[round - 4] + league_points[round - 3] + league_points[round - 2] + league_points[round - 1]
            elif eslocal == 0:
                df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round - 4) & 
                                       (df_laliga['visitorTeam'] == equip), 'visitor_5streak'] = league_points[round - 5] + league_points[round - 4] + league_points[round - 3] + league_points[round - 2] + league_points[round - 1]

100%|██████████| 29/29 [07:09<00:00, 14.81s/it]

In [81]:
#We create a variable that says if the team was in first or second division the previous year. 
# In the case of not having information, we will put 1. If they were in first, we will put 1. If they were in second, we will put 0.
df_laliga['last_1ra_loc'] = 4 #random
df_laliga['last_1ra_vis'] = 4 #random

for season in tqdm(list_seasons):

    ll_equips = df_laliga.loc[(df_laliga['season'] == season), 'localTeam'].unique().tolist()
    
    for equip in ll_equips:
                               
        #if the previous season is 86-87, 95-96 or 96-97 we don't have information of the previous season.
        if(season in ['1987-88','1996-97','1997-98']):       
            df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['localTeam'] == equip), 'last_1ra_loc'] = 1
            df_laliga.loc[(df_laliga['season'] == season)  & (df_laliga['visitorTeam'] == equip), 'last_1ra_vis'] = 1

        else:#general case
            
            if df_laliga.loc[(df_laliga['season'] == anterior) & (df_laliga['localTeam'] == equip)].empty:
                estava1ra = 0 #the team was NOT in first division the previous year
            else:
                estava1ra = 1 #the team WAS in first division the previous year
                
            for round in range(1,39):
                
                eslocal = len(df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & (df_laliga['localTeam'] == equip)])
                if eslocal == 1: 
                    df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & (df_laliga['localTeam'] == equip), 'last_1ra_loc'] = estava1ra
                elif eslocal == 0:
                    df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round)  & (df_laliga['visitorTeam'] == equip), 'last_1ra_vis'] = estava1ra
                
    anterior = season #save for the next iteration

  0%|          | 0/29 [00:00<?, ?it/s]

100%|██████████| 29/29 [03:24<00:00,  7.04s/it]

In [82]:
#We will do a ranking of the season. We will order total_punts from highest to lowest and assign a number being 1 the highest. 
# In case of a tie we will assign more than one number to the same value.

for season in (list_seasons):
    for round in range (1,39):
        ll_total_punts_loc = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round), 'total_punts_loc'].tolist()
        ll_total_punts_vis = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round), 'total_punts_vis'].tolist()

        ll_total_punts = ll_total_punts_loc + ll_total_punts_vis

        set_total_punts = set(ll_total_punts)
        ll_total_punts = list(set_total_punts)
        #convert to float 
        ll_total_punts = [float(i) for i in ll_total_punts]
        ll_total_punts.sort(reverse=True)
        #print(ll_total_punts)  
          

        #We assign the position +1 to each team that has that score.
        df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round), 'Rk_loc'] = -1
        df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round), 'Rk_vis'] = -1
        
        df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round), 'Rk_loc'] = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round), 'total_punts_loc'].apply(lambda x: list(ll_total_punts).index(x) + 1)
        df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round), 'Rk_vis'] = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round), 'total_punts_vis'].apply(lambda x: list(ll_total_punts).index(x) + 1)

In [115]:
#We create a variable that says if the team was in the top 6 the previous year.
dic_classification = {}
for season in (list_seasons):
    #We pick the total_punts_loc and total_punts_vis of round 38 of each season and add the value of result. We will create
    # a dictionary that will save as a key each season and as a value a dictionary with the 20 teams and their 20 positions.
    dic_classification[season] = {}
    ll_equips = df_laliga.loc[(df_laliga['season'] == season), 'localTeam'].unique().tolist()
    for equip in ll_equips:
        eslocal = len(df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == 38) & 
                                       (df_laliga['localTeam'] == equip)])
        
        result_aux = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == 38) & 
                                       ((df_laliga['localTeam'] == equip) | (df_laliga['visitorTeam']== equip)), 'result'].iloc[0]
        
        if result_aux == 0 and eslocal == 1 or result_aux == 2 and eslocal == 0:
                punts_38 = 0
        elif result_aux == 1:
                punts_38 = 1
        elif result_aux == 2 and eslocal == 1 or result_aux == 0 and eslocal == 0:
                punts_38 = 3
        
        if eslocal == 1:
            loc_38_aux = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == 38) & (df_laliga['localTeam']== equip), 'total_punts_loc'].iloc[0]
            dic_classification[season][equip] = loc_38_aux + punts_38
        elif eslocal == 0:
            vis_38_aux = df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == 38) & (df_laliga['visitorTeam']== equip), 'total_punts_vis'].iloc[0]  
            dic_classification[season][equip] = vis_38_aux + punts_38
            
#We will do a ranking of the 6 teams with the most points, and we will pass the average.
anterior = None
dic_top6 = {}
for season in (list_seasons):
    dic_top6[season] = []
    if anterior != None:
        
        anterior_keys = list(dic_classification[anterior].keys())
        anterior_values = list(dic_classification[anterior].values())

        #print("anterior keys: ", anterior_keys[0])
        #print("anterior values: ", anterior_values)
        # Sort the values in descending order
        sorted_values = sorted(set(anterior_values), reverse=True)
        # Get the keys corresponding to the 6 biggest different values
        
        count = 0
        for value in sorted_values:
            for i in range(len(anterior_values)):
                if anterior_values[i] == value:
                    dic_top6[season].append(anterior_keys[i])
                    count += 1
                    if count == 6:
                        break
            if count == 6:
                break

        #print(dic_top6[season])
    anterior = season

anterior keys:  Atletico de Bilbao
anterior values:  [63.0, 44.0, 52.0, 43.0, 67.0, 46.0, 41.0, 55.0, 50.0, 47.0, 54.0, 47.0, 53.0, 45.0, 39.0, 40.0, 73.0, 90.0, 38.0, 51.0]
anterior keys:  Atletico de Bilbao
anterior values:  [57.0, 80.0, 43.0, 47.0, 38.0, 53.0, 33.0, 87.0, 61.0, 58.0, 37.0, 45.0, 67.0, 65.0, 42.0, 19.0, 48.0, 50.0, 47.0, 51.0]
anterior keys:  Atletico de Bilbao
anterior values:  [48.0, 37.0, 73.0, 38.0, 42.0, 54.0, 88.0, 51.0, 61.0, 56.0, 70.0, 74.0, 41.0, 27.0, 46.0, 59.0, 50.0, 59.0, 25.0, 34.0]
anterior keys:  Espanol
anterior values:  [46.0, 31.0, 50.0, 47.0, 47.0, 66.0, 55.0, 49.0, 55.0, 49.0, 53.0, 51.0, 64.0, 82.0, 36.0, 36.0, 60.0, 43.0, 60.0, 44.0]
anterior keys:  Atletico de Bilbao
anterior values:  [46.0, 35.0, 67.0, 77.0, 78.0, 43.0, 50.0, 46.0, 34.0, 58.0, 47.0, 56.0, 39.0, 44.0, 53.0, 49.0, 37.0, 60.0, 49.0, 77.0]
anterior keys:  Barcelona
anterior values:  [83.0, 67.0, 42.0, 57.0, 59.0, 76.0, 45.0, 44.0, 26.0, 46.0, 47.0, 59.0, 27.0, 43.0, 38.0, 46.0, 41.0, 81.0, 43.0, 60.0]
anterior keys:  Osasuna
anterior values:  [34.0, 59.0, 48.0, 81.0, 78.0, 53.0, 49.0, 51.0, 38.0, 65.0, 45.0, 50.0, 54.0, 44.0, 34.0, 42.0, 48.0, 40.0, 64.0, 57.0]
anterior keys:  Sevilla
anterior values:  [59.0, 44.0, 58.0, 48.0, 45.0, 57.0, 36.0, 15.0, 49.0, 61.0, 64.0, 47.0, 71.0, 78.0, 48.0, 61.0, 50.0, 52.0, 51.0, 33.0]
anterior keys:  Real Madrid
anterior values:  [63.0, 65.0, 74.0, 60.0, 44.0, 60.0, 45.0, 40.0, 45.0, 50.0, 60.0, 59.0, 49.0, 53.0, 13.0, 39.0, 63.0, 45.0, 48.0, 55.0]
anterior keys:  Alaves
anterior values:  [40.0, 65.0, 64.0, 61.0, 39.0, 42.0, 54.0, 27.0, 57.0, 68.0, 60.0, 46.0, 79.0, 49.0, 63.0, 34.0, 48.0, 36.0, 66.0, 45.0]
anterior keys:  Atletico de Bilbao
anterior values:  [50.0, 51.0, 64.0, 38.0, 64.0, 69.0, 48.0, 45.0, 45.0, 28.0, 47.0, 42.0, 53.0, 61.0, 47.0, 46.0, 52.0, 62.0, 53.0, 63.0]
anterior keys:  Barcelona
anterior values:  [63.0, 73.0, 43.0, 80.0, 42.0, 46.0, 71.0, 39.0, 42.0, 57.0, 43.0, 56.0, 39.0, 63.0, 42.0, 59.0, 49.0, 50.0, 43.0, 41.0]
anterior keys:  Valencia
anterior values:  [75.0, 68.0, 47.0, 53.0, 43.0, 42.0, 47.0, 49.0, 53.0, 38.0, 53.0, 40.0, 66.0, 43.0, 64.0, 59.0, 60.0, 54.0, 48.0, 37.0]
anterior keys:  Santander
anterior values:  [44.0, 56.0, 72.0, 36.0, 52.0, 76.0, 32.0, 50.0, 45.0, 78.0, 55.0, 46.0, 47.0, 60.0, 47.0, 61.0, 35.0, 43.0, 46.0, 54.0]
anterior keys:  Albacete
anterior values:  [47.0, 56.0, 43.0, 51.0, 70.0, 77.0, 39.0, 43.0, 55.0, 48.0, 48.0, 46.0, 54.0, 55.0, 72.0, 52.0, 71.0, 51.0, 26.0, 41.0]
anterior keys:  Atletico de Madrid
anterior values:  [50.0, 61.0, 29.0, 39.0, 46.0, 44.0, 47.0, 60.0, 50.0, 58.0, 51.0, 84.0, 80.0, 28.0, 62.0, 51.0, 47.0, 37.0, 51.0, 65.0]
anterior keys:  Atletico de Bilbao
anterior values:  [45.0, 39.0, 69.0, 52.0, 36.0, 64.0, 41.0, 43.0, 68.0, 68.0, 42.0, 55.0, 70.0, 82.0, 54.0, 24.0, 40.0, 40.0, 57.0, 46.0]
anterior keys:  Valencia
anterior values:  [66.0, 40.0, 47.0, 49.0, 54.0, 46.0, 50.0, 76.0, 39.0, 71.0, 60.0, 76.0, 40.0, 52.0, 42.0, 49.0, 35.0, 28.0, 62.0, 60.0]
anterior keys:  Murcia
anterior values:  [30.0, 85.0, 64.0, 50.0, 52.0, 48.0, 44.0, 59.0, 60.0, 51.0, 26.0, 42.0, 64.0, 67.0, 47.0, 47.0, 52.0, 45.0, 77.0, 43.0]
anterior keys:  Espanol
anterior values:  [47.0, 62.0, 44.0, 67.0, 42.0, 58.0, 43.0, 35.0, 43.0, 46.0, 87.0, 70.0, 43.0, 42.0, 33.0, 55.0, 51.0, 78.0, 46.0, 65.0]
anterior keys:  Real Madrid
anterior values:  [96.0, 41.0, 37.0, 71.0, 62.0, 42.0, 39.0, 43.0, 54.0, 99.0, 44.0, 63.0, 58.0, 47.0, 34.0, 47.0, 56.0, 36.0, 36.0, 40.0]
anterior keys:  Hercules
anterior values:  [35.0, 45.0, 46.0, 43.0, 49.0, 44.0, 47.0, 46.0, 45.0, 58.0, 58.0, 96.0, 71.0, 92.0, 47.0, 45.0, 58.0, 44.0, 62.0, 30.0]
anterior keys:  Espanol
anterior values:  [46.0, 27.0, 47.0, 47.0, 54.0, 43.0, 58.0, 55.0, 100.0, 41.0, 37.0, 61.0, 42.0, 56.0, 49.0, 52.0, 47.0, 43.0, 50.0, 91.0]
anterior keys:  Celta de Vigo
anterior values:  [37.0, 50.0, 36.0, 45.0, 85.0, 100.0, 46.0, 35.0, 53.0, 34.0, 66.0, 56.0, 44.0, 57.0, 39.0, 47.0, 42.0, 65.0, 43.0, 76.0]
anterior keys:  Real Sociedad
anterior values:  [59.0, 36.0, 49.0, 87.0, 87.0, 39.0, 63.0, 43.0, 49.0, 40.0, 42.0, 70.0, 40.0, 42.0, 59.0, 90.0, 48.0, 45.0, 25.0, 41.0]
anterior keys:  Malaga
anterior values:  [50.0, 76.0, 35.0, 32.0, 35.0, 51.0, 94.0, 37.0, 92.0, 49.0, 37.0, 77.0, 20.0, 55.0, 78.0, 49.0, 60.0, 46.0, 35.0, 41.0]
anterior keys:  Malaga
anterior values:  [48.0, 42.0, 43.0, 88.0, 38.0, 62.0, 39.0, 32.0, 45.0, 39.0, 64.0, 48.0, 91.0, 60.0, 90.0, 43.0, 44.0, 52.0, 44.0, 36.0]
anterior keys:  Malaga
anterior values:  [46.0, 36.0, 90.0, 20.0, 72.0, 31.0, 64.0, 78.0, 45.0, 46.0, 39.0, 56.0, 22.0, 54.0, 93.0, 35.0, 39.0, 55.0, 63.0, 67.0]

In [116]:
print(dic_top6)

{'1987-88': [], '1988-89': ['Real Madrid', 'Real Sociedad', 'Atletico de Madrid', 'Atletico de Bilbao', 'Osasuna', 'Barcelona'], '1989-90': ['Real Madrid', 'Barcelona', 'Valencia', 'Atletico de Madrid', 'Valladolid', 'Zaragoza'], '1990-91': ['Real Madrid', 'Barcelona', 'Valencia', 'Atletico de Madrid', 'Sevilla', 'Logrones'], '1991-92': ['Barcelona', 'Real Madrid', 'Atletico de Madrid', 'Sporting de Gijon', 'Osasuna', 'Oviedo'], '1992-93': ['Barcelona', 'Atletico de Madrid', 'Real Madrid', 'Valencia', 'Real Sociedad', 'Zaragoza'], '1993-94': ['Barcelona', 'Real Madrid', 'Deportivo', 'Valencia', 'Sevilla', 'Atletico de Madrid'], '1994-95': ['Barcelona', 'Deportivo', 'Zaragoza', 'Real Madrid', 'Atletico de Bilbao', 'Sevilla'], '1997-98': ['Real Madrid', 'Deportivo', 'Barcelona', 'Zaragoza', 'Betis', 'Sevilla'], '1998-99': ['Barcelona', 'Atletico de Bilbao', 'Real Madrid', 'Real Sociedad', 'Celta de Vigo', 'Mallorca'], '1999-00': ['Barcelona', 'Real Madrid', 'Mallorca', 'Valencia', 'Celta de Vigo', 'Deportivo'], '2000-01': ['Deportivo', 'Valencia', 'Barcelona', 'Zaragoza', 'Real Madrid', 'Alaves'], '2001-02': ['Real Madrid', 'Deportivo', 'Mallorca', 'Barcelona', 'Valencia', 'Celta de Vigo'], '2002-03': ['Valencia', 'Deportivo', 'Real Madrid', 'Barcelona', 'Celta de Vigo', 'Betis'], '2003-04': ['Real Madrid', 'Real Sociedad', 'Deportivo', 'Celta de Vigo', 'Valencia', 'Barcelona'], '2004-05': ['Valencia', 'Barcelona', 'Deportivo', 'Real Madrid', 'Atletico de Bilbao', 'Sevilla'], '2005-06': ['Barcelona', 'Real Madrid', 'Villarreal', 'Betis', 'Espanol', 'Sevilla'], '2006-07': ['Barcelona', 'Real Madrid', 'Valencia', 'Osasuna', 'Sevilla', 'Celta de Vigo'], '2007-08': ['Real Madrid', 'Barcelona', 'Sevilla', 'Valencia', 'Villarreal', 'Atletico de Madrid'], '2008-09': ['Real Madrid', 'Villarreal', 'Barcelona', 'Sevilla', 'Atletico de Madrid', 'Santander'], '2009-10': ['Barcelona', 'Real Madrid', 'Sevilla', 'Atletico de Madrid', 'Villarreal', 'Valencia'], '2010-11': ['Barcelona', 'Real Madrid', 'Valencia', 'Sevilla', 'Mallorca', 'Getafe'], '2011-12': ['Barcelona', 'Real Madrid', 'Valencia', 'Villarreal', 'Atletico de Madrid', 'Atletico de Bilbao'], '2012-13': ['Real Madrid', 'Barcelona', 'Valencia', 'Malaga', 'Atletico de Madrid', 'Levante'], '2013-14': ['Barcelona', 'Real Madrid', 'Atletico de Madrid', 'Real Sociedad', 'Valencia', 'Malaga'], '2014-15': ['Atletico de Madrid', 'Barcelona', 'Real Madrid', 'Atletico de Bilbao', 'Sevilla', 'Real Sociedad'], '2015-16': ['Barcelona', 'Real Madrid', 'Atletico de Madrid', 'Valencia', 'Sevilla', 'Villarreal'], '2016-17': ['Barcelona', 'Real Madrid', 'Atletico de Madrid', 'Villarreal', 'Atletico de Bilbao', 'Celta de Vigo'], '2017-18': ['Real Madrid', 'Barcelona', 'Atletico de Madrid', 'Sevilla', 'Villarreal', 'Real Sociedad']}

In [117]:
df_laliga['last_top6_loc'] = -1
df_laliga['last_top6_vis'] = -1
for season in (list_seasons):
    ll_equips = df_laliga.loc[(df_laliga['season'] == season), 'localTeam'].unique().tolist()
    for equip in ll_equips:
        if equip in dic_top6[season]: #if the team was in the top 6 the previous year
            for round in range(1,39):
                eslocal = len(df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & 
                                       (df_laliga['localTeam'] == equip)])
                if eslocal == 1:
                    df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & (df_laliga['localTeam'] == equip), 'last_top6_loc'] = 1
                    
                elif eslocal == 0:
                    df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & (df_laliga['visitorTeam'] == equip), 'last_top6_vis'] = 1

        else: #case no Top6
            for round in range(1,39):
                eslocal = len(df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) &
                                        (df_laliga['localTeam'] == equip)])
                if eslocal == 1:
                    df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & (df_laliga['localTeam'] == equip), 'last_top6_loc'] = 0
                    
                elif eslocal == 0:
                    df_laliga.loc[(df_laliga['season'] == season) & (df_laliga['round'] == round) & (df_laliga['visitorTeam'] == equip), 'last_top6_vis'] = 0
            
#(unoptimized code)

In [118]:
df_laliga.tail(10)

,id,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,result,...,local_3streak,visitor_3streak,local_5streak,visitor_5streak,last_1ra_loc,last_1ra_vis,Rk_loc,Rk_vis,last_top6_loc,last_top6_vis
36675,36676,2017-18,1,38,Celta de Vigo,Levante,4,2,2018-05-19,2,...,1.0,9.0,3.0,15.0,1,0,12.0,12.0,0,0
36676,36677,2017-18,1,38,Sevilla,Alaves,1,0,2018-05-19,2,...,4.0,6.0,8.0,9.0,1,1,6.0,11.0,1,0
36677,36678,2017-18,1,38,Malaga,Getafe,0,1,2018-05-19,0,...,0.0,4.0,3.0,10.0,1,0,17.0,7.0,0,0
36678,36679,2017-18,1,38,Las Palmas,Girona,1,2,2018-05-19,0,...,1.0,1.0,1.0,4.0,1,0,16.0,10.0,0,0
36679,36680,2017-18,1,38,Leganes,Betis,3,2,2018-05-19,2,...,0.0,4.0,1.0,8.0,1,1,14.0,5.0,0,0
36680,36681,2017-18,1,38,Villarreal,Real Madrid,2,2,2018-05-19,1,...,9.0,7.0,12.0,8.0,1,1,5.0,3.0,1,1
36681,36682,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,2018-05-20,0,...,3.0,7.0,4.0,10.0,1,1,13.0,12.0,0,0
36682,36683,2017-18,1,38,Barcelona,Real Sociedad,1,0,2018-05-20,2,...,4.0,6.0,8.0,9.0,1,1,1.0,9.0,1,1
36683,36684,2017-18,1,38,Valencia,Deportivo,2,1,2018-05-20,2,...,4.0,1.0,5.0,3.0,1,1,4.0,15.0,0,0
36684,36685,2017-18,1,38,Atletico de Madrid,Eibar,2,2,2018-05-20,1,...,6.0,7.0,7.0,10.0,1,1,2.0,8.0,1,0

In [119]:
#descarreguem el dataset laliga i el guardem a un csv

df_laliga.to_csv('laliga_optimized.csv', index=False)